@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Lato:wght@100;300;400&display=swap");

.navbar {
  @media (min-width: 769px) {
    border-right: var(--border);
    display: flex;
    width: 30px;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;
  }
  @media (min-width: 1264px) {
    // width: 200px;
  }
  &--bottom {
    @media (max-width: 768px) {
      border-top: var(--border);
      position: fixed;
      width: 100%;
      bottom: 0%;
      display: flex;
      padding: 14px 0px;
      font-weight: bold;
      align-items: center;
      justify-content: space-around;
      z-index: 999;
    }
  }
  &--top {
    @media (max-width: 768px) {
      border-bottom: var(--border);
      position: fixed;
      width: 100%;
      display: flex;
      padding: 0;
      padding: 11px 15px;
      font-weight: bold;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      z-index: 999;
    }
    @media (min-width: 769px) {
      display: none;
    }
  }

  &--white {
    background-color: #fff;
  }

  &__a {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.4);
    transition: transform 0.2s;
    color: #000000;
    &.router-link-exact-active {
      filter: invert(0.5);
    }
    &:hover {
      opacity: 0.8;
      transform: scale(1.5);
    }
  }
  &__p--instagram {
    margin: 0;
    font-family: "Island Moments", cursive;
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    margin-right: auto;
  }
  &__search {
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 0.5rem;
    width: 40%;
  }
  &__heart {
    margin-inline: 1rem;
    cursor: pointer;
    transform: scale(1.4);
    transition: transform 0.2s;
    &:hover {
      opacity: 0.8;
      transform: scale(1.5);
    }
  }
}
