@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Lato:wght@100;300;400&display=swap");

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: #fff;
  width: 100vw;
  &--left {
    border-right: var(--border);
    height: 100%;
    width: 70px;
    flex-direction: column;
    row-gap: 2.5rem;
    padding-top: 50px;
  }
  &--bottom {
    border-top: var(--border);
    bottom: 0%;
    padding: 14px 0px;
    justify-content: space-around;
  }
  &--top {
    border-bottom: var(--border);
    padding: 11px 15px;
    font-weight: bold;
    box-sizing: border-box;
  }
  &__link {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    width: 1.5rem;
    height: 1.5rem;
    transform: scale(1.4);
    transition: transform 0.2s;
    color: var(--font);
    &.router-link-exact-active {
      opacity: 0.5;
    }
    &:hover {
      transform: scale(1.5);
      background-color: var(--primary);
      border-radius: 100%;
    }
  }
  &__button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
  }
  &__logo {
    margin: 0;
    font-family: "Island Moments", cursive;
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    margin-right: auto;
  }
  &__search {
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 0.5rem;
    width: 40%;
  }
  &__heart {
    margin-inline: 1rem;
    cursor: pointer;
    transform: scale(1.4);
    transition: transform 0.2s;
    &:hover {
      opacity: 0.8;
      transform: scale(1.5);
    }
  }
}
