.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &__close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 400;
    cursor: pointer;
  }
  &__container {
    height: 70vh;
    width: 60vw;
    background: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  }
  &__navbar {
    padding: 0.5rem 0 0.5rem;
    border-bottom: var(--border);
    &-p {
      margin: 0;
    }
  }
  &__form {
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  &__input {
    // cursor: pointer;
  }
  &__create-post {
    border: none;
    background: rgb(255, 69, 184);
    box-shadow: 0px 0px 3px 1px;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
  }
}
